:root {
  --kc-color-hover: #ffbd81;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

a:hover {
  color: var(--kc-color-hover);
  cursor: pointer;
}

.block {
  border-radius: 4px;
  box-shadow: var(--el-box-shadow-lighter);
  background-color: white;
  margin: 20px;
  font-family: Inter, math;
  overflow: hidden;
}

.block-title {
  font-family: Inter, math;
  font-weight: bold;
  font-size: 25px;
  margin: 30px 30px 10px;
}

.block-text {
  padding: 20px 30px;
}